header {
  display: flex;
  flex-direction: row;
  background-color: #008181;
  height: 80vh;
  justify-content: space-around;
}
header h1 {
  color: white;
  font-family: sans-serif;
  margin-top: 150px;
  font: size 200px;
  line-height: 50px;
}
header h1 span {
  border: 1px solid white;
  padding: 8px;
}
