* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: row;
  background-color: #008181;
  height: 80vh;
  justify-content: space-around;
}
header h1 {
  color: white;
  font-family: sans-serif;
  margin-top: 150px;
  font: size 200px;
  line-height: 50px;
}
header h1 span {
  border: 1px solid white;
  padding: 8px;
}
.guidelines {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
  height: 50vh;
  padding-bottom: 20px;
}
.guidelines h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #008181;
  padding: 10px;
  box-shadow: 5px 3px 8px;
  color: #008181;
  font-size: 30px;
}
.rules {
  font-family: sans-serif;

  line-height: 50px;
  font-weight: 600;
}
.scroll {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

#quiz {
  margin-top: 5%;
  margin-bottom: 5%;
}
.ready {
  align-items: center;
  text-align: center;
  margin-top: -3px;
}
.cont {
  background-color: #008181;
  padding: 15px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}
form {
  border: #008181 1px solid;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}
.quest h3 {
  padding: 15px;
  font-size: 20px;
}
.quest p {
  margin-left: 30px;
  line-height: 25px;
  font-size: 20px;
}
.btn {
  padding: 20px;
}
.btn input {
  background-color: #008181;
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}
footer {
  text-align: center;
  font-size: 20px;
  background-color: #008181;
  padding-top: 15px;
  color: rgb(1, 27, 59);
}
.btn input:hover {
  background-color: green;
}
#score {
  text-align: center;
  font-size: 30px;
  color: #008181;
  margin-bottom: 300px;
}
